<header>
  <div class="contain">
    <a href="#"><%= image_pack_tag 'logo.png', height: '70px' %></a>
    <ul>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Feature</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</header>

<div class ="main-image">
  <div class="intext">
    <div class="main-image-text">
      Lorem Ipsum
    </div>
    <div class="main-image-sub">
      simply dummy text of the printing
    </div>
  </div>
</div>

<main>
  <div class="contai">
    <h1 class="hh">Portfolio</h1>
    <hr width="80%" noshade>
    <p class="bb">It is a long established fact that a reader will be distracted by the readable<br>
        content of a page when looking at its layout.<br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
    <div class="imgs">
      <a href="#"><%= image_pack_tag 'code.png', height: '250px',width:  '300px' %></a>
      <a href="#"><%= image_pack_tag 'websuku.png', height: '250px',width:  '300px' %></a>
      <a href="#"><%= image_pack_tag 'code.png', height: '250px',width:  '300px' %></a>
      <a href="#"><%= image_pack_tag 'webcamp.png', height: '250px',width:  '300px' %></a>
      <a href="#"><%= image_pack_tag 'code.png', height: '250px',width:  '300px' %></a>
      <a href="#"><%= image_pack_tag 'webcamp-mother.png', height: '250px',width:  '300px' %></a>
    </div>
  </div>
</main>
<footer>

</footer>